Repository markcodeman/travelland: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax-check, javascript-syntax-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.3.0
    hooks:
    - id: detect-secrets
      exclude: "(^|/)node_modules/"

  - repo: local
    hooks:
      - id: python-syntax-check
        name: Check Python syntax
        entry: python -m py_compile
        language: system
        files: \.py$
        pass_filenames: true

      - id: javascript-syntax-check
        name: Check JavaScript syntax
        entry: node -c
        language: system
        files: \.js$
        pass_filenames: true
        require_serial: true

      - id: run-basic-tests
        name: Run basic tests
        entry: bash -c "cd city-guides && python -c \"import app; print('✅ Flask app imports successfully')\" 2>/dev/null || echo '❌ Flask app import failed'"
        language: system
        pass_filenames: false

fix: restore neighborhood seeds and stabilize neighborhood fetcher
  city_guides/data/africa/morocco.json
  city_guides/data/europe/bosnia.json
  city_guides/data/europe/italy.json
  city_guides/data/europe/montenegro.json
  city_guides/data/europe/norway.json
  city_guides/data/europe/uk.json
  city_guides/data/south_america/brazil.json
  city_guides/src/dynamic_neighborhoods.py
  city_guides/src/routes/search.py
Due: python-syntax-check

fix: update Mostar banner cache and city guide image fetching
  city_guides/data/banner_cache.json
  city_guides/data/city_poi_cache/bucharest_romania_pois.json
  city_guides/data/city_poi_cache/mostar_bosnia_pois.json
  city_guides/data/city_poi_cache/mostar_pois.json
  city_guides/data/seeded_cities.json
  city_guides/providers/multi_provider.py
  city_guides/providers/opentripmap_provider.py
  city_guides/providers/overpass_provider.py
  city_guides/providers/tomtom_provider.py
  city_guides/providers/wikidata_provider.py
  city_guides/providers/wikipedia_attractions_provider.py
  city_guides/src/dynamic_neighborhoods.py
  city_guides/src/persistence.py
  city_guides/src/routes.py
  city_guides/src/routes/guide.py
  city_guides/src/routes/poi.py
  city_guides/src/routes/search.py
  city_guides/src/simple_categories.py
  city_guides/src/synthesis_enhancer.py
  city_guides/utils/city_poi_cache.py
  frontend/src/App.jsx
  frontend/src/components/CitySuggestions.jsx
  frontend/src/components/LocationGuide.jsx
  frontend/src/components/NeighborhoodGuide.css
  frontend/src/components/NeighborhoodGuide.jsx
  scripts/refresh_city_cache.py
Due: python-syntax-check

Fixed server crash by terminating conflicting process and restarting server
  .github/copilot-instructions.md
  AGENTS.md
  city_guides/data/city_poi_cache/bucharest_romania_pois.json
  city_guides/data/city_poi_cache/mostar_bosnia_pois.json
  city_guides/data/city_poi_cache/mostar_pois.json
  city_guides/providers/mapillary_provider.py
  city_guides/providers/multi_provider.py
  city_guides/providers/neighborhood_loader.py
  city_guides/providers/overpass_provider.py
  city_guides/providers/wikipedia_attractions_provider.py
  city_guides/providers/wikipedia_provider.py
  city_guides/src/app.py
  city_guides/src/persistence.py
  city_guides/src/routes/locations.py
  city_guides/src/routes/media.py
  city_guides/src/routes/search.py
  city_guides/src/simple_categories.py
  frontend/src/App.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/LocationSelector.jsx
  frontend/src/components/MarcoChat.jsx
  frontend/src/components/NeighborhoodGuide.jsx
  frontend/src/components/NeighborhoodPicker.jsx
  frontend/src/components/SearchResults.jsx
  frontend/src/components/WikiSection.jsx
  frontend/src/index.css
  frontend/src/services/imageService.js
Due: python-syntax-check, javascript-syntax-check

latest to enhance front end and cities neighborhood filter
  .gitignore
Due: none

Stop tracking pois.json files by adding to .gitignore
  .gitignore
Due: none

"Update city_poi_cache for Bucharest, Romania"
  city_guides/data/city_poi_cache/bucharest_romania_pois.json
Due: none

Fix deployment issues: update package-lock.json for Tailwind 4.x and add start_server.sh script
  frontend/package-lock.json
  start_server.sh
Due: none

Update Node.js version to 22 in render.yaml
  render.yaml
Due: none

Fix PostCSS config for Tailwind CSS 4.x compatibility
  frontend/postcss.config.js
Due: javascript-syntax-check

Fix health check path to /healthz
  render.yaml
Due: none

"render.com"
  render.yaml
Due: none

Remove hardcoded built frontend files from git to ensure dynamic builds only
  .gitignore
  city_guides/static/assets/index-137b8462.js
  city_guides/static/assets/index-7b068dc4.js
  city_guides/static/assets/index-e883b33f.css
  city_guides/static/index.html
Due: javascript-syntax-check

Add fallback_facts.json to fix frontend build
  frontend/src/data/fallback_facts.json
Due: none

Trigger redeploy
  README.md
Due: none

Add image_fallbacks.json to fix frontend build
  frontend/src/services/image_fallbacks.json
Due: none

Include seeded neighborhoods in build
  city_guides/data/seeded_neighborhoods/br/rio_de_janeiro.json
  city_guides/data/seeded_neighborhoods/de/berlin.json
  city_guides/data/seeded_neighborhoods/fr/paris.json
  city_guides/data/seeded_neighborhoods/gb/london.json
  city_guides/data/seeded_neighborhoods/jp/osaka.json
  city_guides/data/seeded_neighborhoods/jp/tokyo_overpass_backup.json
  city_guides/data/seeded_neighborhoods/us/chicago.json
  city_guides/data/seeded_neighborhoods/us/los_angeles.json
  city_guides/data/seeded_neighborhoods/us/new_york_city.json
  city_guides/src/routes_legacy.py
Due: python-syntax-check

Fix production parity: sync API keys and neighborhood data
  .gitignore
  city_guides/providers/neighborhood_loader.py
  render.yaml
Due: python-syntax-check

Restore static assets and index.html for correct frontend appearance (undo .gitignore breakage)
  city_guides/static/assets/index-5VOhrnH3.js
  city_guides/static/assets/index-B186NEFD.css
  city_guides/static/dream-test.html
  city_guides/static/index.html
  city_guides/static/marcobanner.png
  city_guides/static/marcos.png
Due: javascript-syntax-check
