Repository markcodeman/travelland: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax-check, javascript-syntax-check

python-syntax-check:
  name: Check Python syntax
  entry: python -m py_compile
  language: system
  pass_filenames: true

javascript-syntax-check:
  name: Check JavaScript syntax
  entry: node -c
  language: system
  pass_filenames: true
  require_serial: true

Fix semantic search API to avoid hangs and return proper responses
  city_guides/src/app.py
  test_api_params.py
Due: python-syntax-check

Add ConversationAnalyzer, response safeguards, early auto-enrichment; send conversation history from frontend; add test tools
  MARCO_OPTIMIZATION_TODO.md
  city_guides/src/app.py
  city_guides/src/semantic.py
  frontend/src/components/MarcoChat.jsx
  tools/groq_test.py
  tools/marco_auto_test.py
Due: python-syntax-check

Update MarcoChat default message to include category-specific actions
  frontend/src/components/MarcoChat.jsx
Due: none

Modify MarcoChat to send recommendation query for category-based chats
  frontend/src/components/MarcoChat.jsx
Due: none

Add category to payload for better backend context
  frontend/src/components/MarcoChat.jsx
Due: none

Update query to request bullet point formatted recommendations
  frontend/src/components/MarcoChat.jsx
Due: none

Refine query format for better bullet point responses
  frontend/src/components/MarcoChat.jsx
Due: none

Fetch venues from /search for category-based queries to display structured recommendations
  frontend/src/components/MarcoChat.jsx
Due: none

Display initial messages as assistant messages for better UX
  frontend/src/components/MarcoChat.jsx
Due: none

Filter out wikivoyage fallback venues to show only real venue recommendations
  frontend/src/components/MarcoChat.jsx
Due: none

fix(frontend): add React Refresh preamble to index.html to fix dev rendering
  frontend/index.html
Due: none

good message
  .github/copilot-instructions.md
  .gitignore
  MARCO_OPTIMIZATION_TODO.md
  city_guides/providers/geocoding.py
  city_guides/src/app.py
  city_guides/src/semantic.py
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/MarcoChat.css
  frontend/src/components/MarcoChat.jsx
  frontend/src/components/VenueCard.css
  frontend/src/components/VenueCard.jsx
  frontend/vite.config.js
  next-app/.gitignore
  next-app/README.md
  next-app/app/favicon.ico
  next-app/app/globals.css
  next-app/app/layout.tsx
  next-app/app/page.tsx
  next-app/eslint.config.mjs
  next-app/next.config.ts
  next-app/package.json
  next-app/pages/api/chat.js
  next-app/postcss.config.mjs
  next-app/public/file.svg
  next-app/public/globe.svg
  next-app/public/next.svg
  next-app/public/vercel.svg
  next-app/public/window.svg
  test_api_params.py
  tools/.gitignore
  tools/playwright_run_marco_headed.py
  tools/restart_and_tail.sh
  tools/test_marco_queries.py
Due: python-syntax-check, javascript-syntax-check

good message
  .github/copilot-instructions.md
  .gitignore
  MARCO_OPTIMIZATION_TODO.md
  city_guides/providers/geocoding.py
  city_guides/src/app.py
  city_guides/src/semantic.py
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/MarcoChat.css
  frontend/src/components/MarcoChat.jsx
  frontend/src/components/VenueCard.css
  frontend/src/components/VenueCard.jsx
  frontend/vite.config.js
  next-app/.gitignore
  next-app/README.md
  next-app/app/favicon.ico
  next-app/app/globals.css
  next-app/app/layout.tsx
  next-app/app/page.tsx
  next-app/eslint.config.mjs
  next-app/package.json
  next-app/pages/api/chat.js
  next-app/postcss.config.mjs
  next-app/public/file.svg
  next-app/public/globe.svg
  next-app/public/next.svg
  next-app/public/vercel.svg
  next-app/public/window.svg
  test_api_params.py
  tools/.gitignore
  tools/playwright_run_marco_headed.py
  tools/restart_and_tail.sh
  tools/test_marco_queries.py
Due: python-syntax-check, javascript-syntax-check

fix: ensure LocationSelector uses correct API_BASE for Vite proxy, restoring neighborhoods dropdown
  frontend/src/components/LocationSelector.jsx
Due: none

Frontend: Mirror backend logic for Tlaquepaque neighborhoods dropdown. Merge OSM/GeoNames, dedupe, robust search. Fixes missing San Pedrito/Las Liebres.
  frontend/src/components/LocationSelector.jsx
  frontend/src/components/NeighborhoodSelect.jsx
Due: none

quick_guide: prefer DDGS + semantic synthesis for neighborhoods; add ddgs fallback, heuristics to reject irrelevant wiki pages, and caching of synthesized quick guides
  city_guides/docs/TESTING_API_KEYS.md
  city_guides/providers/ddgs_provider.py
  city_guides/providers/geonames_provider.py
  city_guides/providers/mapillary_provider.py
  city_guides/providers/multi_provider.py
  city_guides/providers/neighborhood_provider.py
  city_guides/providers/opentripmap_provider.py
  city_guides/providers/openwebninja_provider.py
  city_guides/providers/overpass_provider.py
  city_guides/src/app.py
  city_guides/tests/test_richmond_venues.py
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/MarcoChat.css
  frontend/src/components/MarcoChat.jsx
  frontend/src/components/SuggestionChips.jsx
  frontend/src/components/VenueCard.css
  frontend/src/components/VenueCard.jsx
  frontend/src/styles/app.css
  test_japantown_venues.py
  tools/restart_and_tail.sh
  tools/test_contextualwebsearch_api.py
  tools/test_ddgs_provider.py
  tools/test_openwebninja_api.py
Due: python-syntax-check

Fix Pylance errors: move wiki helpers into route; relocate _persist_quick_guide; fix image_provider import
  city_guides/groq/traveland_rag.py
  city_guides/providers/openwebninja_provider.py
  city_guides/providers/overpass_provider.py
  city_guides/src/app.py
  city_guides/src/neighborhood_disambiguator.py
  city_guides/src/snippet_filters.py
  city_guides/src/synthesis_enhancer.py
  tests/test_cached_disambig_replaced.py
  tests/test_ddgs_filter.py
  tests/test_neighborhood_paragraph.py
  tests/test_persist_quick_guide_helper.py
  tests/test_quick_guide_redis_persistence.py
  tests/test_quick_guide_regressions.py
  tests/test_revolucion_disambiguation.py
  tests/test_synthesis_enhancer_neighborhood.py
  tests/test_synthesis_neutralize.py
Due: python-syntax-check

Add refresh buttons and fetch helpers to LocationSelector (country/state/city/neighborhood)
  frontend/src/components/LocationSelector.jsx
Due: none

LocationSelector: refresh now clears input & selection to show full lists (country/state/city/neighborhood)
  frontend/src/components/LocationSelector.jsx
Due: none

Add configurable DDGS domain blocklist (soft-block) and tests
  city_guides/src/app.py
  city_guides/src/snippet_filters.py
  tests/test_ddgs_blocklist.py
Due: python-syntax-check

Quick guide: add confidence levels and minimal fallback for low-confidence syntheses
  city_guides/src/app.py
Due: python-syntax-check

Quick guide: add confidence levels and minimal fallback for low-confidence syntheses; image & synth enhancer updates
  city_guides/providers/image_provider.py
  city_guides/src/synthesis_enhancer.py
  tests/test_image_sanitization.py
Due: python-syntax-check

Path conditions:
  python-syntax-check: any of: \.py$
  javascript-syntax-check: any of: \.js$
