Repository markcodeman/travelland: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax-check, javascript-syntax-check

python-syntax-check:
  name: Check Python syntax
  entry: python -m py_compile
  language: system
  pass_filenames: true

javascript-syntax-check:
  name: Check JavaScript syntax
  entry: node -c
  language: system
  pass_filenames: true
  require_serial: true

Add /neighborhoods endpoint; fix import path and placement
  city-guides/app_async.py
Due: python-syntax-check

Committing all changes
  city-guides/app_async.py
  city-guides/mapillary_provider.py
  city-guides/multi_provider.py
  city-guides/overpass_provider.py
  data/ChesapeakeNeighborhoods_analysis.ipynb
  data/ChesapeakeNeighborhoods_cleaned.csv
Due: python-syntax-check

Fix: Ensure city/lang are never None for provider calls (type safety, Pylance clean)
  city-guides/multi_provider.py
Due: python-syntax-check

Fix neighborhood search: bbox standardization, provider parallel execution, CSS card layout
  app.log
  city-guides/.continue/# traveland_agent.py
  city-guides/app_async.py
  city-guides/multi_provider.py
  city-guides/opentripmap_provider.py
  city-guides/requirements.txt
  city-guides/search_provider.py
  city-guides/static/main.js
  city-guides/static/styles.css
  city-guides/test_integration.py
  def test_multi_provider_bbox_search():.py
  overpass_provider.py
  restart_and_tail.sh
  scripts/test_overpass_endpoints.py
  test_neighborhood_search.py
Due: python-syntax-check, javascript-syntax-check

Remove redundant app_async.py - consolidated to single app.py
  city-guides/app_async.py
Due: python-syntax-check

Fix bbox format in geocode_city functions - return (west, south, east, north) instead of (south, west, north, east)
  city-guides/overpass_provider.py
Due: python-syntax-check

Add .env file loading to app.py for environment variables
  city-guides/app.py
Due: python-syntax-check

Fix Geoapify API integration: update geocode response parsing and add default categories for POI discovery
  city-guides/overpass_provider.py
Due: python-syntax-check

image_provider: fix aiohttp session handling; clean imports
  city-guides/image_provider.py
Due: python-syntax-check

chat: enable Marco pre-search flow; semantic-search returns neighborhood suggestions; render neighborhood chips & typing indicator; image_provider: fix aiohttp session handling
  city-guides/app.py
  city-guides/static/main.js
Due: python-syntax-check, javascript-syntax-check

Your commit message here
  city-guides/app,py
Due: none

Add/Update recommender backend and frontend integration
  .continue/agents/new-config.yaml
  .env.example
  .github/agents/qwen.agent.md
  city-guides/QUICK_START.md
  city-guides/app,py
  city-guides/app.py
  city-guides/groq/groq_reccomend.py
  city-guides/groq/traveland_rag.py
  city-guides/jest.config.js
  city-guides/overpass_provider.py
  city-guides/package.json
  city-guides/requirements.txt
  city-guides/run-test.js
  city-guides/run-test.sh
  city-guides/scripts/run_playwright_debug.py
  city-guides/semantic.py
  city-guides/static/main.js
  city-guides/static/reccomend-client.js
  city-guides/static/styles.css
  city-guides/templates/index.html
  city-guides/tests/frontend/main.test.js
  city-guides/tmp/playwright_debug/after_search.png
  qwen_review.txt
Due: python-syntax-check, javascript-syntax-check

WIP: Save all local changes before merge to main
  city-guides/app.py
  city-guides/groq/traveland_rag.py
  city-guides/mcp_server.py
  city-guides/semantic.py
  city-guides/static/main.js
  city-guides/templates/index.html
Due: python-syntax-check, javascript-syntax-check

chore: update .gitignore to hide local and irrelevant files
  .gitignore
Due: none

feat: weather improvements — °C/°F toggle, wind units, backend hourly/daily payload, add HourlyForecast component (best 2‑hour window)
  .gitignore
  app.log
  city_guides/.gitignore
  city_guides/QUICK_START.md
  city_guides/TAILWIND_README.md
  city_guides/app.py
  city_guides/groq/__init__.py
  city_guides/mapillary_provider.py
  city_guides/opentripmap_provider.py
  city_guides/overpass_provider.py
  city_guides/providers/london_provider.py
  city_guides/run-test.js
  city_guides/run-test.sh
  city_guides/semantic.py
  city_guides/static/main.js
  city_guides/wikipedia_provider.py
  frontend/index.html
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/AutocompleteInput.jsx
  frontend/src/components/CategoryChips.jsx
  frontend/src/components/CityNeighborhoodSelector.jsx
  frontend/src/components/CustomNeighborhoodSearch.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/HourlyForecast.jsx
  frontend/src/components/NeighborhoodList.jsx
  frontend/src/components/NeighborhoodSelect.jsx
  frontend/src/components/QuickGuide.jsx
  frontend/src/components/ResultArea.jsx
  frontend/src/components/SearchResults.jsx
  frontend/src/components/SuggestionChips.jsx
  frontend/src/components/WeatherDisplay.jsx
  frontend/src/main.jsx
  frontend/src/styles/app.css
  frontend/vite.config.js
  pre-commit-check.sh
  restart_and_tail.sh
  test_neighborhood_search.py
Due: python-syntax-check, javascript-syntax-check

feat(weather): show local time and sunrise/sunset on weather card
  city_guides/app.py
  frontend/src/components/WeatherDisplay.jsx
Due: python-syntax-check

chore: add frontend start script
  scripts/start-frontend.sh
Due: none

frontend: stability — dedupe neighborhoods, fix autocomplete/list keys, stabilize Vite start
  city_guides/app.py
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/AutocompleteInput.jsx
  frontend/src/components/NeighborhoodSelect.jsx
  frontend/src/styles/app.css
  tests/playwright_local_smoke_frontend.py
Due: python-syntax-check

feat: show mapillary thumbnails in QuickGuide
  frontend/src/components/QuickGuide.jsx
  frontend/src/components/SearchResults.jsx
Due: none

Path conditions:
  python-syntax-check: any of: \.py$
  javascript-syntax-check: any of: \.js$
