Repository markcodeman/travelland: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax-check, javascript-syntax-check

python-syntax-check:
  name: Check Python syntax
  entry: python -m py_compile
  language: system
  pass_filenames: true

javascript-syntax-check:
  name: Check JavaScript syntax
  entry: node -c
  language: system
  pass_filenames: true
  require_serial: true

Quick guide: add confidence levels and minimal fallback for low-confidence syntheses; image & synth enhancer updates
  city_guides/providers/image_provider.py
  city_guides/src/synthesis_enhancer.py
  tests/test_image_sanitization.py
Due: python-syntax-check

Quick guide: apply minimal fallback for low-confidence cached quick_guides, include confidence in cached entries
  city_guides/src/app.py
Due: python-syntax-check

Fix GeoNames states fallback and caching; add Redis country-ID cache, tests, and contributor docs; add overpass shim guidance
  .contextstream/ignore
  .cursorrules
  CONTRIBUTING.md
  app.log
  city_guides/.env.sample
  city_guides/docs/TESTING_API_KEYS.md
  city_guides/providers/overpass_provider.py
  city_guides/src/app.py
  city_guides/src/geo_enrichment.py
  city_guides/tests/test_country_id_cache.py
  city_guides/tests/test_geo_enrichment.py
  city_guides/tests/test_states_fallback_on_geonames_failure.py
  frontend/package.json
  frontend/src/components/LocationSelector.jsx
  tests/test_japantown_venues.py
  tests/test_overpass_provider_uniqueness.py
  tests/test_quick_guide_confidence.py
Due: python-syntax-check

Fix Render.com build configuration: correct requirements.txt path and static file handling
  .gitignore
  city_guides/config/render.yaml
Due: none

Add root-level render.yaml for Render.com deployment
  render.yaml
Due: none

Move requirements.txt to city_guides folder for better project organization
  city_guides/requirements.txt
Due: none

Fix render.yaml: update requirements.txt path and fix static file handling
  render.yaml
Due: none

Add Node.js version 18 to render.yaml for proper npm ci execution
  render.yaml
Due: none

Fix cache issues and implement GeoNames API for global location data
  city_guides/src/app.py
  city_guides/src/enrichment.py
  city_guides/src/routes.py
  city_guides/src/validation.py
  frontend/src/components/LocationSelector.jsx
Due: python-syntax-check

Improve quick guide caching and location lookup
  .gitignore
  city_guides/src/app.py
  city_guides/src/routes.py
  frontend/src/App.jsx
  frontend/src/components/LocationSelector.jsx
  frontend/src/main.jsx
Due: python-syntax-check

Add persistence helpers and provider modules
  .gitignore
  city_guides/providers/groq_neighborhood_provider.py
  city_guides/providers/wikipedia_neighborhood_provider.py
  city_guides/src/persistence.py
Due: python-syntax-check

Add intelligent autocomplete with trending destinations weighting
  city_guides/src/app.py
  frontend/src/components/DreamInput.css
  frontend/src/components/DreamInput.jsx
Due: python-syntax-check

Add venue grid components and reorganize test infrastructure
  .gitignore
  .venv-playwright/bin/activate
  city_guides/docs/CONTRIBUTING.md
  city_guides/src/persistence.py
  dev.sh
  frontend/public/dream-test.html
  frontend/src/App.jsx
  frontend/src/components/HeroImage.css
  frontend/src/components/HeroImage.jsx
  frontend/src/components/LocationSelector.jsx
  frontend/src/components/QuickGuide.jsx
  frontend/src/components/SearchResults.jsx
  frontend/src/components/VenueGrid.css
  frontend/src/components/VenueGrid.jsx
  frontend/src/services/imageService.js
  frontend/src/styles/app.css
  frontend/vite.config.js
  next-app/.gitignore
  next-app/next-env.d.ts
  nohup.out
  tests/playwright_run_marco_headed.py
  tests/test_ddgs_provider.py
  tests/test_marco_queries.py
  tools/.gitignore
  tools/restart_and_tail.sh
  tools/test_contextualwebsearch_api.py
  tools/test_openwebninja_api.py
Due: python-syntax-check, javascript-syntax-check

Marco working well with venues
  .gitignore
  city_guides/config/package.json
  city_guides/config/postcss.config.cjs
  city_guides/docs/CODING_STANDARDS.md
  city_guides/src/app.py
  city_guides/src/persistence.py
  city_guides/src/routes/location.py
  city_guides/src/services/learning.py
  city_guides/src/services/location.py
  city_guides/src/utils/seasonal.py
  frontend/.eslintrc.js
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/DreamInput.jsx
  frontend/src/components/MarcoChat.jsx
  frontend/src/components/SearchResults.jsx
  frontend/src/components/VenueCard.css
  frontend/src/components/VenueCard.jsx
  frontend/src/components/VenueGrid.css
  frontend/src/components/VenueGrid.jsx
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/src/styles/app.css
  frontend/vite.config.js
  package.json
Due: python-syntax-check, javascript-syntax-check

Update venue cards and Marco chat with improved location handling
  .continue/agents/new-config.yaml
  city_guides/.env.sample
  city_guides/src/app.py
  city_guides/src/persistence.py
  city_guides/src/services/location.py
  frontend/src/App.jsx
  frontend/src/components/MarcoChat.css
  frontend/src/components/MarcoChat.jsx
  frontend/src/components/VenueCard.jsx
  next-app/package.json
  next-app/pages/api/chat.js
  next-app/pages/api/fun-fact.js
  next-app/test-env.js
Due: python-syntax-check, javascript-syntax-check

Add next.config.ts with environment variables
  next-app/next.config.ts
Due: none

Fix requirements.txt to match actual imports and add pytest; fix integration test path
  city_guides/requirements.txt
  city_guides/tests/test_integration.py
Due: python-syntax-check

Fun fact working
  frontend/src/components/DreamInput.jsx
  frontend/src/components/VenueCard.jsx
  frontend/vite.config.js
  next-app/next.config.ts
  next-app/pages/api/fun-fact.js
  next-app/pages/api/test-env.js
Due: javascript-syntax-check

🔥 Gordon Ramsay Excellence: Dynamic Wikipedia Image System + AGENTS.md Principles
  AGENTS.md
  city_guides/providers/ddgs_provider.py
  city_guides/src/app.py
  frontend/src/App.jsx
  frontend/src/components/DreamInput.jsx
  frontend/src/components/MarcoChat.jsx
  frontend/src/components/VenueCard.jsx
  frontend/vite.config.js
Due: python-syntax-check, javascript-syntax-check

Phase 1: Fix address formatting and venue validation
  .env.example
  AGENTS.md
  city_guides/providers/overpass_provider.py
  city_guides/providers/unsplash_provider.py
  city_guides/src/app.py
  city_guides/src/persistence.py
  city_guides/src/routes.py
  city_guides/src/services/pixabay.py
  city_guides/src/snippet_filters.py
  city_guides/static/marcobanner.png
  city_guides/templates/index.html
  frontend/package.json
  frontend/public/marcobanner.png
  frontend/src/App.jsx
  frontend/src/components/CitySuggestions.css
  frontend/src/components/CitySuggestions.jsx
  frontend/src/components/DreamInput.css
  frontend/src/components/DreamInput.jsx
  frontend/src/components/FlagSVG.jsx
  frontend/src/components/GlobeSelector.css
  frontend/src/components/GlobeSelector.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/HeroImage.css
  frontend/src/components/HeroImage.jsx
  frontend/src/components/MagicalLocationSelector.css
  frontend/src/components/MagicalLocationSelector.jsx
  frontend/src/components/MarcoChat.css
  frontend/src/components/MarcoChat.jsx
  frontend/src/components/PixabayImage.css
  frontend/src/components/PixabayImage.jsx
  frontend/src/components/QuickGuide.jsx
  frontend/src/components/SimpleLocationSelector.css
  frontend/src/components/SimpleLocationSelector.jsx
  frontend/src/components/VenueCard.jsx
  frontend/src/components/WorldMapSelector.css
  frontend/src/components/WorldMapSelector.jsx
  frontend/src/services/imageService.js
  frontend/src/styles/app.css
  frontend/vite.config.js
  results/gamplan#1.md
Due: python-syntax-check, javascript-syntax-check

Add comprehensive venue enrichment with cuisine, type, price, features
  city_guides/src/persistence.py
  frontend/src/components/VenueCard.jsx
  results/gameplan#1.md
Due: python-syntax-check

Enhanced venue enrichment with comprehensive cuisine and type detection
  city_guides/src/persistence.py
Due: python-syntax-check

Fix redundant venue descriptions (e.g., 'Cafe cafe' → 'Cafe')
  city_guides/src/persistence.py
Due: python-syntax-check

Add opening_hours extraction from OSM tags
  city_guides/src/persistence.py
Due: python-syntax-check

Add opening hours display to venue cards
  frontend/src/components/VenueCard.jsx
Due: none

Add phone number extraction and display
  city_guides/src/persistence.py
  frontend/src/components/VenueCard.jsx
Due: python-syntax-check

Fix Chesapeake garbage results - category and description fixes
  city_guides/src/persistence.py
Due: python-syntax-check

Path conditions:
  python-syntax-check: any of: \.py$
  javascript-syntax-check: any of: \.js$
