Repository markcodeman/travelland: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax-check, javascript-syntax-check

python-syntax-check:
  name: Check Python syntax
  entry: python -m py_compile
  language: system
  pass_filenames: true

javascript-syntax-check:
  name: Check JavaScript syntax
  entry: node -c
  language: system
  pass_filenames: true
  require_serial: true

ui: show image attribution under quick guide thumbnails
  frontend/src/components/QuickGuide.jsx
Due: none

infra: add render.yaml; include QuickGuide image/cache fixes and frontend pass-through
  city_guides/app.py
  frontend/src/App.jsx
  render.yaml
Due: python-syntax-check

fix: guard debugpy startup with ENABLE_DEBUGPY env var to prevent production startup failures
  city_guides/app.py
Due: python-syntax-check

fix: serve React index.html from static folder instead of template for SPA routing
  city_guides/app.py
Due: python-syntax-check

fix: constrain QuickGuide image sizes to max 200px width for better display
  frontend/src/components/QuickGuide.jsx
Due: none

adjust: increase QuickGuide image max width to 300px for better visibility
  frontend/src/components/QuickGuide.jsx
Due: none

feat: add country display next to city from geocode display_name; update geocode_city to return display_name
  city_guides/app.py
  frontend/src/App.jsx
Due: python-syntax-check

feat: add country dropdown and manual search button; update geocode to use country in query
  city_guides/app.py
  frontend/src/App.jsx
Due: python-syntax-check

Fix Pylance type errors: add type ignores, fix async issues, add missing dependencies
  city_guides/app.py
  city_guides/package.json
  city_guides/requirements.txt
  city_guides/semantic.py
Due: python-syntax-check

Fix Camden neighborhood venue search, payload keys, bbox logic, and frontend integration for real Overpass results
  city_guides/app.py
  city_guides/multi_provider.py
  city_guides/overpass_provider.py
  city_guides/static/index.html
  frontend/src/App.jsx
  frontend/src/components/CategoryChips.jsx
  frontend/src/components/SearchResults.jsx
  frontend/src/components/SuggestionChips.jsx
  frontend/src/components/WeatherDisplay.jsx
  frontend/src/styles/app.css
  frontend/vite.config.js
Due: python-syntax-check, javascript-syntax-check

Fix: Camden neighborhood search now returns real venues for 'Coffee & tea', improved bbox logic, payload keys, and frontend-backend integration. Proxy and Overpass fixes included.
  city_guides/.continue/# traveland_agent.py
  city_guides/.playwright-mcp/paris_test.png
  city_guides/static/assets/index-7028ba29.js
  city_guides/static/assets/index-931e59e3.css
  city_guides/static/assets/index-a2c34a99.js
  city_guides/static/assets/index-b9f55da6.js
  city_guides/static/assets/index-cb0176ca.css
  city_guides/static/assets/index-f7d1d61e.js
  frontend/.vite/deps_temp_380e7457/package.json
  reliable_server_start.sh
Due: python-syntax-check, javascript-syntax-check

UI: render venue cards, link Directions to Google Maps, remove OSM link for wiki fallback, truncate long descriptions
  , p.get(tags)[:200]) PY
  app.log
  city_guides.code-workspace
  city_guides/app.py
  frontend/public/marcos.png
  frontend/src/App.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/SearchResults.jsx
  frontend/src/styles/app.css
Due: python-syntax-check

Cleanup: remove unnecessary files, update .gitignore, add new files
  city_guides/app.py
  city_guides/duckduckgo_provider.py
  city_guides/groq/traveland_rag.py
  city_guides/overpass_provider.py
  city_guides/package.json
  city_guides/requirements.txt
  city_guides/semantic.py
  city_guides/tests/conftest.py
  city_guides/tmp/playwright_debug/after_search.png
  frontend/src/components/MarcoChat.jsx
  pytest.ini
Due: python-syntax-check

Restore full TravelLand UI to React frontend - add city/country selectors, category chips, weather, search results, and Marco chat. Update backend static file serving and port monitoring.
  frontend/src/App.jsx.backup
  frontend/src/components/LocationSelector.jsx
  frontend/src/components/MarcoChat.jsx
  frontend/src/styles/app.css
Due: none

Complete TravelLand global expansion and automation
  tools/pre-commit-check.sh
  tools/restart_and_tail.sh
  tools/safe-commit.sh
  tools/save-and-commit.sh
Due: none

Add AI agent instructions and enhance Marco chat with category-aware auto-send
  .github/copilot-instructions.md
  frontend/src/App.jsx
  frontend/src/components/LocationSelector.jsx
  frontend/src/components/MarcoChat.jsx
  frontend/src/components/SearchResults.jsx
  frontend/vite.config.js
Due: javascript-syntax-check

Fix restart script to start both backend (port 5010) and frontend (port 5174) services
  tools/restart_and_tail.sh
Due: none

Remove redundant neighborhood dropdown from main App component
  frontend/src/App.jsx
Due: none

🔧 Fix Dufus Behavior: Prevent Automatic Neighborhood Recommendations
  city_guides/src/semantic.py
Due: python-syntax-check

Fix semantic search API to avoid hangs and return proper responses
  city_guides/src/app.py
  test_api_params.py
Due: python-syntax-check

Path conditions:
  python-syntax-check: any of: \.py$
  javascript-syntax-check: any of: \.js$
