Repository markcodeman/travelland: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax-check, javascript-syntax-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.3.0
    hooks:
    - id: detect-secrets
      exclude: "(^|/)node_modules/"

  - repo: local
    hooks:
      - id: python-syntax-check
        name: Check Python syntax
        entry: python -m py_compile
        language: system
        files: \.py$
        pass_filenames: true

      - id: javascript-syntax-check
        name: Check JavaScript syntax
        entry: node -c
        language: system
        files: \.js$
        pass_filenames: true
        require_serial: true

      - id: run-basic-tests
        name: Run basic tests
        entry: bash -c "cd city-guides && python -c \"import app; print('✅ Flask app imports successfully')\" 2>/dev/null || echo '❌ Flask app import failed'"
        language: system
        pass_filenames: false

Fix JS hoisting error: move getCategoryEmoji/getCategoryColor before early return statements
  frontend/src/components/NeighborhoodPicker.jsx
Due: none

Update persistence, routes and render config
  city_guides/data/fun_fact_quality.json
  city_guides/src/persistence.py
  city_guides/src/routes.py
  render.yaml
Due: python-syntax-check

[Setup] Add Marco branch scope lock and pre-commit hook protection
  MARCO_BRANCH_SCOPE.md
Due: none

[Marco] Enhanced chat: context-aware loading, smart suggestions, better error handling with retry
  MARCO_ANALYSIS.md
  frontend/src/components/MarcoChat.css
  frontend/src/components/MarcoChat.jsx
Due: none

[Marco] Fix category detection for architecture/design, add parks/hotels categories
  frontend/src/components/MarcoChat.jsx
Due: none

[Neighborhood] Add scope lock documentation
  NEIGHBORHOOD_BRANCH_SCOPE.md
  NEIGHBORHOOD_SCOPE_LOCK.md
Due: none

[Neighborhood] Update scope lock to allow JSON data files, add pre-commit hook support
  NEIGHBORHOOD_BRANCH_SCOPE.md
  NEIGHBORHOOD_SCOPE_LOCK.md
  city_guides/data/banner_cache.json
  city_guides/data/fun_fact_quality.json
Due: none

Fix: Add missing category mappings for cafes, landmarks, architecture, design, nightlife
  city_guides/src/persistence.py
Due: python-syntax-check

Fix: Properly extract venue names from OSM tags to prevent garbage names like 'information--general-directions--g1'
  city_guides/providers/multi_provider.py
Due: python-syntax-check

Fix: Add garbage name filtering for venue entries from all providers
  city_guides/providers/multi_provider.py
Due: python-syntax-check

Expand garbage name filters to catch more OSM artifacts (marking--, sign--, etc.)
  city_guides/providers/multi_provider.py
Due: python-syntax-check

Simplify: Filter any venue name containing -- as OSM garbage
  city_guides/providers/multi_provider.py
Due: python-syntax-check

Skip garbage venues entirely instead of returning Unknown - frees up slots for real venues
  city_guides/providers/multi_provider.py
Due: python-syntax-check

Lower quality threshold and increase MIN_VENUES to return 10-15 venues instead of capping at 5
  city_guides/src/persistence.py
Due: python-syntax-check

Add heritage, maritime, history keywords to landmarks category detection
  frontend/src/components/MarcoChat.jsx
Due: none

Remove confusing quick tips about Local Gems toggle
  frontend/src/components/MarcoChat.jsx
Due: none

Decouple Marco from venues - only explicit venue keywords trigger venue mode, topics go to RAG
  frontend/src/components/MarcoChat.jsx
Due: none

Increase DDGS max results from 3 to 8 for better AI context
  city_guides/src/app.py
Due: python-syntax-check

Improve Google recommendations card styling - better gradients, shadows, spacing, and proper capitalization
  frontend/src/components/MarcoChat.jsx
Due: none

Fix venue mode to only trigger for actual venue categories, not topic queries like Theatre & Shows
  frontend/src/components/MarcoChat.jsx
Due: none

Add theater/shows as proper venue category with entertainment detection, quick responses, and emoji styling
  frontend/src/components/MarcoChat.jsx
Due: none

Remove Castles & Fortifications from categories since we can't deliver venue results
  city_guides/data/banner_cache.json
  city_guides/data/fun_fact_quality.json
  city_guides/data/hardcode_candidates.json
  city_guides/src/simple_categories.py
  frontend/src/components/MarcoChat.jsx
Due: python-syntax-check

Restore Castles & Fortifications category - routes to RAG mode
  city_guides/src/simple_categories.py
Due: python-syntax-check

compat: add providers shim and city_guides overpass shim for test imports
  city_guides/overpass_provider.py
  providers/__init__.py
Due: python-syntax-check

compat: add ddgs shim and city_guides.app shim for tests
  city_guides/app.py
  ddgs.py
Due: python-syntax-check

chore: move ad-hoc neighborhood script out of tests to avoid pytest name collision
  tests/test_neighborhoods.py
  tools/run_neighborhoods_script.py
Due: python-syntax-check

compat: export neighborhood_provider from providers shim
  providers/__init__.py
Due: python-syntax-check

compat: add providers.<module> shims for neighborhood_provider
  providers/neighborhood_provider.py
Due: python-syntax-check

test: fix sys.path insertion in tests/test_japantown_venues.py
  tests/test_japantown_venues.py
Due: python-syntax-check

Fix API endpoints - add /api prefix to all routes
  SEARCH_FIX_PLAN.md
  city_guides/data/banner_cache.json
  city_guides/data/fun_fact_quality.json
  city_guides/providers/multi_provider.py
  city_guides/providers/overpass_provider.py
  city_guides/src/app.py
  city_guides/src/persistence.py
  city_guides/src/routes.py
  city_guides/src/synthesis_enhancer.py
  frontend/src/App.jsx
  frontend/src/components/LocationSelector.jsx
  frontend/src/components/MarcoChat.jsx
  frontend/src/services/imageService.js
  tools/test_20_cities.py
  tools/test_marco_categories.py
Due: python-syntax-check, javascript-syntax-check

Fix merge conflict syntax error in MarcoChat.jsx
  frontend/src/components/MarcoChat.jsx
Due: none

Simplify fun_fact_quality.json to Barcelona entry only
  city_guides/data/banner_cache.json
  city_guides/data/fun_fact_quality.json
Due: none

'updates to fix pylance errors'
  city_guides/data/fun_fact_quality.json
  city_guides/providers/multi_provider.py
Due: python-syntax-check

'updates'
  city_guides/data/banner_cache.json
  city_guides/data/fun_fact_quality.json
Due: none

Update fun_fact_quality.json
  city_guides/data/fun_fact_quality.json
Due: none

Disable cache and conversation history for Marco testing
  city_guides/src/app.py
  frontend/src/components/MarcoChat.jsx
Due: python-syntax-check

Add backend admin dashboard at /admin
  city_guides/src/app.py
Due: python-syntax-check

feat: Enhanced admin dashboard with Marco Chat flow, smart neighborhood suggestions, and clickable Google Maps links
  city_guides/src/app.py
Due: python-syntax-check

feat: Improve Marco's neighborhood knowledge with POI-enhanced quick guides and better synthesis
  city_guides/src/app.py
  city_guides/src/synthesis_enhancer.py
Due: python-syntax-check

fix: Remove hardcoded Barcelona suggestions, use city-specific dynamic suggestions
  city_guides/src/app.py
Due: python-syntax-check
