Repository markcodeman/travelland: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax-check, javascript-syntax-check

python-syntax-check:
  name: Check Python syntax
  entry: python -m py_compile
  language: system
  pass_filenames: true

javascript-syntax-check:
  name: Check JavaScript syntax
  entry: node -c
  language: system
  pass_filenames: true
  require_serial: true

fix: Add Dict import to synthesis_enhancer.py
  city_guides/src/synthesis_enhancer.py
Due: python-syntax-check

feat: Add query string, anti-dufus scan, and copy button to Marco Chat debug output
  city_guides/src/app.py
Due: python-syntax-check

fix: JavaScript syntax error in anti-dufus scan function
  city_guides/src/app.py
Due: python-syntax-check

feat: Add auto-detection of latest Groq model and fix encoding issues
  city_guides/groq/traveland_rag.py
Due: python-syntax-check

fix: Copy button includes query info and anti-dufus scan handles JSON format correctly
  city_guides/src/app.py
Due: python-syntax-check

feat: Add detailed Groq debugging to show thinking process and search behavior
  city_guides/groq/traveland_rag.py
  city_guides/src/app.py
Due: python-syntax-check

feat: Add auto-loading neighborhoods and City Only button to Marco Chat
  city_guides/src/app.py
Due: python-syntax-check

test commit
  test.txt
Due: none

Test large file
  test.txt
Due: none

Test 600 line Python file (should pass)
  test_large.py
Due: python-syntax-check

feat: Update file size limits to be more realistic (Python 800, JS 600, CSS 500)
  test_too_large.py
Due: python-syntax-check

Test 850 line Python file (should warn but pass)
  test_850_lines.py
Due: python-syntax-check

feat: Python 1000 line limit with warnings at 800 lines
  test_1100_lines.py
Due: python-syntax-check

feat: Extract admin and media routes, create route extraction infrastructure
  ADMIN_SYNC_PENDING.md
  ROUTE_EXTRACTION_STATUS.md
  ROUTE_REFACTOR_PLAN.md
  city_guides/src/admin/routes.py
  city_guides/src/routes/README.md
  city_guides/src/routes/__init__.py
  city_guides/src/routes/admin.py
  city_guides/src/routes/chat.py
  city_guides/src/routes/guide.py
  city_guides/src/routes/locations.py
  city_guides/src/routes/media.py
  city_guides/src/routes/poi.py
  city_guides/src/routes/search.py
  city_guides/src/routes/utils.py
Due: python-syntax-check

docs: Add comprehensive instructions for GitHub LLM route extraction
  GITHUB_LLM_INSTRUCTIONS.md
Due: none

working front end
  city_guides/app_shim.py
  city_guides/data/fun_fact_quality.json
  city_guides/src/routes/search.py
Due: python-syntax-check

chore: stop tracking fun_fact_quality.json to prevent merge conflicts
  .gitignore
  city_guides/data/fun_fact_quality.json
Due: none

update admin
  .gitignore
  city_guides/src/routes/admin.py
Due: python-syntax-check

feat: implement intelligent API testing framework
  city_guides/src/routes/admin.py
Due: python-syntax-check

update actions yaml
  .github/workflows/copilot-setup-steps.yml
  city_guides/src/routes/admin.py
Due: python-syntax-check

fix: smoke test neighborhoods function call - add required lat/lon parameters
  city_guides/src/routes/admin.py
Due: python-syntax-check

fix: JavaScript template literals in admin dashboard
  city_guides/src/routes/admin.py
Due: python-syntax-check

fix: remove all remaining JavaScript template literals in admin dashboard
  city_guides/src/routes/admin.py
Due: python-syntax-check

fix: resolve JavaScript syntax errors in admin dashboard
  city_guides/src/routes/admin.py
Due: python-syntax-check

fix: attach test functions to window scope and remove remaining template literals
  city_guides/src/routes/admin.py
Due: python-syntax-check

good marco chat
  city_guides/src/routes/admin.py
  city_guides/static/admin.js
  frontend/src/components/MarcoChat.jsx
  package.json
  tools/lint_admin_js.py
Due: python-syntax-check, javascript-syntax-check

Good Marco chat 3s
  city_guides/static/admin.js
Due: javascript-syntax-check

Good admin tool !
  city_guides/src/routes/admin.py
Due: python-syntax-check

fixes for overpass
  city_guides/providers/overpass_provider.py
Due: python-syntax-check

Add comprehensive architecture rebuild plan
  ARCHITECTURE_REBUILD_PLAN.md
Due: none

latest updates
  city_guides/src/routes/guide.py
Due: python-syntax-check

fix: guard fun fact spice on llm errors
  frontend/src/components/FunFact.jsx
Due: none

latest component merging
  frontend/src/components/FunFact.jsx
Due: none

fix: normalize search categories and avoid key errors
  city_guides/src/routes/search.py
Due: python-syntax-check

fix: show category labels from backend results
  frontend/src/components/CitySuggestions.jsx
Due: none

Enhance neighborhood and POI functionality with dynamic content improvements
  BEST_PRACTICES.md
  city_guides/providers/neighborhood_suggestions.py
  city_guides/src/dynamic_neighborhoods.py
  city_guides/src/routes/guide.py
  city_guides/src/routes/poi.py
  dev.sh
  frontend/src/components/CitySuggestions.jsx
  frontend/src/components/NeighborhoodPicker.jsx
  next-app/next.config.ts
Due: python-syntax-check

Path conditions:
  python-syntax-check: any of: \.py$
  javascript-syntax-check: any of: \.js$
